/*https://www.w3schools.com/w3css/tryw3css_templates_parallax.htm*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    font-family: "Gill Sans MT";
    color: rgb(119, 119, 119);
}

#Main{
    height: 100%;
    width: 100%;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#header{
    display: flex;
    align-items: center;
    justify-content: left;
    position: fixed;
    z-index: 10;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.right{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 60rem;
}

#fake_header{
    height: 3.3rem;
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


#page1{
    height: 70%;
    width: 100%;
    background-image: url("https://www.w3schools.com/w3images/parallax1.jpg");
    background-position: center;
    background-size: cover;
    overflow: hidden;
    margin-top: -6rem;
    filter: brightness(75%);
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/


#page2{
    margin-top: 5rem ;
    height: 100%;
    width: 100%;
    text-align: center;
}

.p2_h5{
    margin-top: 1.5rem;
}

.p2_p{
    margin-top: 1.5rem;
    width: 70%;
    margin-left: 13rem;
    text-align: left;
}

#discription{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my_name{
    width: 50%;

}
.img1{
    width: 425px;
    height: 285px;
    filter: brightness(50%);
}
.img1:hover{
    filter: brightness(100%);
}

.text{
    width: 40%;
    text-align: left;
    letter-spacing: 1px;

}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#page4{
    margin-top: -2rem;
    height: 100%;
    width: 100%;
    text-align: center;

}

.p4_p{
    margin-top: 2rem;
}

.img2{
    margin: 2rem 14rem;
    height: 160px;
    width: 220px;
    display: flex;
    gap: 1rem;
}

.img3{
    margin: 2rem 14rem;
    height: 160px;
    width: 220px;
    display: flex;
    gap: 1rem;
}

.img2 > img:hover{
    filter: brightness(50%)
}

.img3 > img:hover{
    filter: brightness(50%)
}

.more{
    margin-left: 37.5rem;
    margin-top: 5rem;
    border: 2px solid rgb(222, 216, 216);
    background-color: rgb(222, 216, 216);
    width: 10rem;
    height: 3rem;
    padding: 0.7rem;
}

.more:hover{
    background-color: rgb(204, 204, 204);
    border: 2px solid rgb(204, 204, 204);
}

/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#page6{
    height: 70%;
    width: 100%;
}

.h3{
    margin-top: 5rem;
    text-align: center;
    letter-spacing: 1.2px;
}

.h5{
    margin-top: 2rem;
    text-align: center;
}


/*-------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------*/

#footer:hover{
    background-color: #000;
}
#footer{
    background-color: #454545;
    height: 40%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.top{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    height: 3rem;
    width: 8rem;
    background-color: #fff;
}
